@font-face {
    font-family: Inter;
    src: url("fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}




/* logo font-family */

@font-face {
    font-family: Caveat;
    src: url("fonts/Caveat/Caveat-VariableFont_wght.ttf");
}


body {
    font-family: Inter;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1380px;
    /* border: 2px solid; */
    margin: 0px auto;
    padding: 1rem 2rem;
}

body {
    background-color: #171C28;
}

/* header */

header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 20%;
    /* border: 2px solid; */
    font-family: Caveat;
    font-size: 2.2rem;
}

.logo .grey {
    color: grey;
}

.logo .white {
    color: white;
}

.logo>a {
    text-decoration: none;
}




.navigations {
    width: 40%;
    /* border: 2px solid; */
    margin-left: auto;

}

.navigations>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navigations>ul li {
    list-style: none;
    /* margin: auto; */
}

.navigations>ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .4s;


}


.navigations>ul li a:hover {
    color: grey;
}


/* heo-section */

.hero-main {
    width: 100%;
    /* border: 2px solid; */
    padding-top: 2rem;
    display: flex;
    gap: 5.5rem;
}

.hero-content {
    /* border: 2px solid pink; */
    width: 60%;

}

.hero-heading .greet {
    color: #709DF6;
    font-size: 1.5rem;
    font-weight: 700;
}

.hero-title {
    color: white;
    font-size: 6rem;
    font-weight: 900;
}

.hero-description {
    width: 80%;
    /* border: 2px solid red; */
}

.des-title {
    color: white;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

}

.des-title span {
    color: #709DF6;
}

.des-para {
    font-size: 1.3rem;
    font-weight: 500;
    color: grey;
    text-align: justify;
    line-height: 1.7rem;
    padding-top: 1rem;
}

.hero-cover {
    width: 350px;
    height: 350px;
}

.hero-cover>img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.hero-cover :hover {
    border: 10px double #709DF6;
    box-shadow: rgba(0, 0, 0, 0.75) 20px 20px 15px;

}


/* About Section */

.about-main {
    width: 100%;
    margin-top: 3rem;
}

.about-main>h2 {
    color: #709DF6;
    font-size: 3rem;
}

.about-main div {
    text-align: justify;
    margin-top: 2rem;
}

.about-headings {
    color: white;
    font-size: 1.7rem;
    line-height: 4rem;
}

.about-para {
    color: grey;
    font-size: 1.2rem;
    padding: 0rem 2.8rem;
    font-weight: 500;

}


/* Projects section */

.projects-main {
    width: 100%;
    /* border: 2px solid; */
    margin-top: 4rem;
    /* display: flex; */
}

.projects-main>h2 {
    color: #709DF6;
    font-size: 3rem;
    /* display: inline-block; */
    /* width: 100%; */
    /* border: 2px solid pink; */
}

.p-cards-wrapper {
    width: 100%;
    /* border: 2px solid lawngreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-main .p-cards {
    width: 47%;
    /* border: 2px solid red; */
    padding: 2rem 0rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.p-cards>img {
    width: 100%;
    border-radius: 10px;
    cursor: grab;
    /* border: 5px solid; */
}

.p-cards>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    transition: .5s;
}

.p-cards>a:hover {
    color: grey;
    /* cursor: wait; */
}

.p-cards span{
    color: #709DF6;
}






/* media queries */

@media (max-width: 1050px) {

    .logo {
        width: 40%;
    }

    .navigations {
        width: 50%;
    }

    .navigations>ul li a {
        font-size: 1rem;
    }

    .navigations>ul li {
        padding-top: .7rem;
    }


    .hero-cover {
        display: none;
    }

    .hero-content {
        /* border: 2px solid pink; */
        width: 100%;

    }

    .projects-main .p-cards {
        width: 40%;
        margin-top: 0rem;
    }

    .p-cards>a {
        font-size: 1.5rem;
    }





}

@media (max-width: 559px) {

    .container {
        padding: .5rem 1rem;
    }

    .logo {
        width: 40%;
        font-size: 1rem;

    }

    .navigations {
        width: 50%;
    }

    .navigations>ul li a {
        font-size: .7rem;
    }

    .navigations>ul li {
        padding: 0px;
    }

    .projects-main .p-cards {
        width: 90%;
        /* border: 2px solid red; */
        /* padding: 2rem 0rem; */
        /* margin-top: 1rem; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    

}

@media (max-width: 750px) {

    .hero-title {
        font-size: 5rem;
        font-weight: 900;
    }

    .hero-heading .greet {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .hero-description {
        width: 85%;
    }



    .about-main {
        margin-top: 3rem;
    }

    .about-main>h2 {
        font-size: 2.2rem;
    }

    .about-main div {
        margin-top: 1.4rem;
    }

    .about-headings {
        font-size: 1.4rem;
        line-height: 3rem;
    }

    .about-para {
        font-size: 1rem;
    }

    .projects-main>h2 {
        /* color: #709DF6; */
        font-size: 2.2rem;
        /* display: inline-block; */
        /* width: 100%; */
        /* border: 2px solid pink; */
    }

    .p-cards>a {
        font-size: 1.1rem;
    }

    .projects-main .p-cards {
        padding: 1rem 0rem;
    }

    .p-cards>a {
        margin-top: 1rem;
    }


}

@media (max-width: 638px) {

    .hero-title {
        font-size: 4rem;
        text-align: center;
    }

    .hero-description {
        width: 83%;
        margin: auto;
    }

    .des-title {
        padding-top: .5rem;
        font-size: 1.1rem;

    }

    .des-para {
        font-size: 1.1rem;
        padding-top: .5rem;
    }



    .about-main>h2 {
        font-size: 1.9rem;
    }


    .about-headings {
        font-size: 1.3rem;
    }

    .projects-main>h2 {
        font-size: 1.8rem;
    }

}


@media (max-width: 481px) {

    .hero-title {
        font-size: 3.5rem;
        padding: 0px;
        margin: 0px;
    }

    .hero-description {
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    .about-para {
        padding: 1rem;
    }

    .p-cards-wrapper {
        margin-top: 1.5rem;
    }

}

@media (max-width: 429px) {


    .hero-title {
        font-size: 2.6rem;
        margin-top: 1rem;
        /* max-width: 100%; */
    }

    .hero-heading .greet {
        font-size: .8rem;
    }
    
   

    .des-title{
        font-size: 1rem;
    }

    .des-para{
        font-size: 1rem;
    }

    .about-para{
        font-size: 1rem;
    }

}